body {
    font-family: 'Titillium Web', sans-serif;
}

@font-face {
    font-family: f1;
    src: url('../assets/font/f1-Regular.woff2');
}

@font-face {
    font-family: f1-bold;
    src: url('../assets/font/f1-Bold.woff2');
}

@font-face {
    font-family: f1-wide;
    src: url('../assets/font/f1-Wide.woff2');
}

.f1 {
    font-family: f1, sans-serif;
}

.f1-bold {
    font-family: f1-bold, sans-serif;
}

.f1-wide {
    font-family: f1-wide, sans-serif;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 986px;
    }
}

@media (min-width: 1360px) {
    .container {
        max-width: 1320px;
    }
}
