@tailwind base;
@tailwind components;
@tailwind utilities;

/* Feature */
.button-main:hover i.icon {
    color: #e10600;
}
.homepage--hero {
    background-image: url(../assets/images/patterns/plus-x2.png);
    background-repeat: repeat;
    background-size: 8px;
    padding-right: 0;
    padding-top: 0;
}
.feature-link:hover p {
    text-decoration: underline;
}
.sub-feature-link .flex-1::before {
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    right: -1px;
    left: 0;
    top: 0;
    background-color: #fff;
}
.sub-feature-link:hover div.border-gray-300 {
    border-color: #e10600;
}
.sub-feature-link:hover picture {
    transform: scale(1.1);
}
.sub-feature-link:hover div.absolute {
    bottom: 10px;
}
.sub-feature-link:hover div.flex-1 {
    margin-top: -10px;
}
.sub-feature-link:hover div.flex-1 p:last-child {
    padding-bottom: 10px;
}
.sub-feature-link.theme-black:hover div.flex-1 {
    background-color: #000;
}
.sub-feature-link.theme-black:hover div.flex-1::before {
    background-color: #000;
}
.sub-feature-link.theme-black:hover div.absolute {
    background-color: #000;
}
.sub-feature-link.theme-black:hover p:last-child {
    color: #fff;
}
.hover-transition {
    transition: margin .5s cubic-bezier(.2,0,.05,1),
    bottom .5s cubic-bezier(.2,0,.05,1),
    padding-bottom .5s cubic-bezier(.2,0,.05,1);
    color: .5s cubic-bezier(.2,0,.05,1);
    background-color: .5s cubic-bezier(.2,0,.05,1);
}


/* MoreNews section */
.tags-pattern {
    position: relative;
    background-image: url(../assets/images/patterns/gray3-x1.png);
    background-size: 30px;
}
@media (min-width: 768px) {
    .tags-pattern:before {
        content: '';
        display: block;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
    }
}

/* Race calender section */
.calender-container {
    background-color: #15151E;
    height: 570px;
}
.calender-card {
    min-width: 145px;
    cursor: pointer;
}
.calender-card.open {
    width: 280px;
}
.calender-card:hover h3 {
    color: #fff
}
.rolex-logo {
    background-image: url(../assets//images/\/rolex.png);
    background-size: 95% 95%;
    color: transparent;
    height: 45px;
    width: 58px;
}
.slideToTop-animate {
    transform: translateY(100%);
    opacity: 0;
    animation: slideToTop 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fadeOut-animate {
    animation: fadeOut 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fadeIn-animate {
    opacity: 0;
    animation: fadeIn 1s linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    25% {
        transform: translateY(25%);
        opacity: 75%;
    }
    50% {
        transform: translateY(50%);
        opacity: 50%;
    }
    75% {
        transform: translateY(75%);
        opacity: 25%;
    }
    100% {
        transform: translateY(100%);
        opacity: 0%;
        display: none;
    }
}
@keyframes slideToTop {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
    25% {
        transform: translateY(75%);
        opacity: 25%;
    }
    50% {
        transform: translateY(50%);
        opacity: 50%;
    }
    75% {
        transform: translateY(25%);
        opacity: 75%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes slideToTop {
    25% {
        transform: translateY(112.5px);
    }
    50% {
        transform: translateY(75px);
    }
    75% {
        transform: translateY(37.5px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

/* Billboard section */
.tab-item {
    position: relative;
    margin: 0 28px;
    cursor: pointer;
    text-transform: uppercase;
}
.tab-item::before {
    content: '';
    border-left: 1px solid #d0d0d2;
    height: 20px;
    position: absolute;
    left: -24%;
    top: 50%;
    margin-top: -10px;
}
.tab-item:first-child::before {
    border-left: 0;
}
.tab-item.active.tab-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #e10600;
}
.tab-item:hover.tab-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-color: #e10600;
}
.billboard-container::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 270px;
    background: url(../assets/images/bg-billboard.png) no-repeat center bottom #f3f3f3;
    background-size: cover;
}
.icon-position {
    position: absolute;
    top: -15px;
    left: 15px;
    font-size: 90px;
}
.toplist-item:hover {
    color: #fff;
    background-color: #38383f;
}
.toplist-item:hover i.icon {
    color: #fff;
}


/* Store section */
.link-card {
    background-image: url(../assets/images/patterns/white-stripe.png);
    background-size: 12px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    min-height: 165px;
    height: 100%;
}

/* Topic section */
.topic-card::before {
    content: '';
    display: block;
    background-color: rgb(0, 0, 0, 0.3);
    transition: background-color .5s cubic-bezier(.2,0,.05,1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.topic-card:hover::before {
    content: '';
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
}
.topic-card::after {
    content: '';
    display: block;
    background-image: url(../assets/images/patterns/white-x1.png);
    background-size: 12px;
    transition: all .5s cubic-bezier(.2,0,.05,1);
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.topic-card:hover::after {
    background-image: url(../assets/images/patterns/warmRed-x1.png);
}

/* Footer section */
.footer-nav:hover .relative::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #e10600;
}
.footer-title:hover i.icon-chevron-right {
    color: #e10600;
}
svg.footer-logo path {
    fill: #e10600;
}

@media (min-width: 768px) {
    .calender-container {
        height: 670px;
    }
    .calender-card.open {
        width: 462px;
    }
    .rolex-logo {
        background-size: 95% 95%;
        color: transparent;
        height: 78px;
        width: 100px;
    }
    .calender-country {
        min-height: 70px;
    }
    .tab-item {
        margin: 0 60px;
    }
    .tab-item::before {
        left: -50%;
    }
}
@media (min-width: 1024px) {
    .calender-container {
        height: 580px;
    }
    .calender-card.open {
        width: 695px;
    }
    .billboard-container::before {
        height: 335px;
    }
}

@media (min-width: 1360) {
    .calender-card.open {
        max-width: 659px;
    }
}